html {
	background: white; 
}

.kamilogo{ 
	display: block;
	margin-left: 1000px;

}

p{color: #CBC3E3 ;font-family: p22 bayer universal; font-style: normal; font-size: 40px; text-align: right}

a{color: #CBC3E3; text-decoration: none;}

.coursework {font-family: p22 bayer universal;font-size: 40px; text-align: right ; color: #CBC3E3; margin-top: 200px; }

.studio {font-family: p22 bayer universal;font-size: 40px; text-align: right; color: #CBC3E3; padding-top: 30px;}

