

body{background-color: black;}

header{color: floralwhite  ;position: center; font-size: 60px; text-align: center;}


p {color: floralwhite; font-size: 30px;}

.sleep {color: floralwhite; font-size: 60px; text-align: center;text-shadow: 10px 10px 20px white; }

.insomnia {color: floralwhite;font-size: 60px; text-align: center;text-shadow: 10px 10px 20px white;}

