@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) {}






#container{background-color: grey;}

body{ width: 100%; height: 100%; background-color: grey;}



svg{
  width:100%;
  height: 100%; 
  overflow: visible;}


