html{ background-color: #CBC3E3;}

a:link{color: white;}
.projectone{font-family: p22 bayer universal; color: white; font-size: 90px;}
.projecttwo{font-family: p22 bayer universal; color: white; font-size: 90px; margin-top: 40px;}