.container {  display: grid;
  grid-template-columns: 0.8fr 1.5fr 0.7fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "side-1 title side-2"
    "article2 article-center article3"
    "article4 article-center2 article5";
}



.title { grid-area: title; text-align: center; font-family: Didot; font-size: 80px;}
.header{ grid-area: title;text-align: center;font-family: sans-serif; font-size: 20px;}


.article-center { grid-area: article-center; 
display: flex ; flex-wrap: wrap; margin-top: -410px; }
.title1 {grid-area:  article-center;text-align: left;font-family: sans-serif; font-size: 50px; padding-top: 20px;}


.article2 { grid-area: article2; 
 margin-top:-410px ;text-align: left;font-family: sans-serif; font-size: 30px;}
.img1 { width: 300px; height: 300px; }


.article3 { grid-area: article3; margin-top:-410px ;text-align: left;font-family: sans-serif; font-size: 30px;}

.article4 { grid-area: article4; margin-top:-580px ; text-align: left;font-family: sans-serif; font-size: 30px;}

.article5 { grid-area: article5; margin-top:-650px ; text-align: left;font-family: sans-serif; font-size: 30px;}

.article-center2 { grid-area: article-center2; }

.side-1 { grid-area: side-1; }

.side-2 { grid-area: side-2; }
