body {color: #FF4FA7;}

h1 {text-align: center; 
font-family: "Pinyon Script"; font-size: 120px; }

P{text-align: center; font-family: "NINTENDO DS BIOS"; font-size: 60px;}

div{text-align: center;}

.cake img{ position: relative; margin: 50px; top: -300px ;}

.bear img{position: relative;margin: 50px; top: -350px;}

.rose1 img{position: relative; top: -740px; right: -580px;}

.rose2 img{transform: scaleX(-1); position: relative; top: -950px; left: -630px;}
